<h1>Users confirmation</h1>

<%= @f_name %><br />
<%= @street %><br />
<%= @city %><br />
<%= @state %><br />
<%= @zip %><br />
<%= @country %><br />
<%= @email %><br />
<%= @user_id %><br />
<%= @password %><br />

<br />
User array: <%= @user_array %>
