<h1>Welcome to our awesome site!</h1>
<p>You passed the rails user id and password challenge</p>

<p>Hello, <%= @user_id %></p>


<%= @f_name %><br />
<%= @street %><br />
<%= @city %><br />
<%= @state %><br />
<%= @zip %><br />
<%= @country %><br />
<%= @email %><br />
<%= @user_id %><br />


<form class="" action="logout" method = "post">
  <input type="submit" value="logout" />
</form>
